@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    background-color: rgb(21, 21, 21);
    color: rgb(236, 236, 236);
    font-family: "Open Sans", sans-serif;
}
